body{
    background-color: white;
}
.container{
    display: flex;
    background-color: rgb(60, 144, 218);
    border-radius: 10px;
    padding: 40px;
    justify-content: space-between;
}
.text{
    margin-top: 80px;
    color: white;
}
.image img{
    height: 300px;
    border-radius: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    padding: 0 100px;
    gap: 50px;
    margin-top: -20px;
    
    
}
.card{
    border-radius: 100px;
    background-color: rgb(243, 247, 247);
    text-align: center;
    padding: 20px;
}
i{
    color: cornflowerblue;
    font-size: 30px;
}
